@using FoodieHub.API.Models.Response
@using System.Text.Json
@inject IConfiguration config
@{
    ViewData["Title"] = "Recipes";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var url = config["BaseHost"];
}
@model PaginatedModel<JsonElement>

<div class="container py-4">
    <!-- Header Section with Create Button, Filter, Search, and Total Count -->
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
            <a asp-action="Create" class="btn btn-primary">Create</a>
            <a asp-action="Deleted" class="btn btn-secondary">Deleted Recipes</a>
        </div>

        <form method="post" class="d-flex align-items-center">
            <a class="btn btn-light me-2" asp-action="Index">Clear All Filter</a>
            <label for="isActive" class="me-2">IsActive</label>
            <select name="isActive" class="form-select form-select-sm me-2" style="width: 150px;">            
                @if (ViewBag.IsActive != null)
                {    
                    if(ViewBag.IsActive==true){
                        <option value="">All</option>
                        <option selected value="true">Active</option>
                        <option value="false">Deactive</option>
                    }
                    else
                    {
                        <option value="">All</option>
                        <option value="true">Active</option>
                        <option selected value="false">Deactive</option>
                    }
                }
                else
                {
                    <option selected value="">All</option>
                    <option value="true">Active</option>
                    <option value="false">Deactive</option>
                }

            </select>
            <label for="categoryID" class="me-2">Category Name</label>
            <select name="categoryID" class="form-select form-select-sm me-2" style="width: 150px;">
                <option value="0" selected>All</option>
                @if (ViewBag.Category != null)
                {
                    foreach (var item in ViewBag.Category)
                    {
                        <option value="@item.CategoryID">@item.CategoryName</option>
                    }
                }
            </select>
            <input type="text" name="search" value="@(ViewBag.Search != null ? ViewBag.Search : "")" class="form-control form-control-sm me-2" placeholder="Search articles..." style="width: 200px;" />
            <button type="submit" class="btn btn-secondary">Search</button>
        </form>
    </div>

    <!-- Total Count of recipes -->
    <div class="mb-3">
        <strong>Total Recipes: </strong>@(Model != null ? Model.TotalItems : 0)

        <a href="/admin/recipes/users" class="ms-2 btn btn-warning">View Recipes Of Users</a>
    </div>

    <!-- Table Section -->
    <div class="table-responsive">
        <table class="table table-bordered text-center align-middle">
            <thead class="table-light">
                <tr>
                    <th>RecipeID</th>
                    <th>Title</th>
                    <th>Image</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                    <th>Author</th>
                    <th>Category</th>
                    <th>IsActive</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Items != null)
                {
                    foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>@item.GetProperty("recipeID")</td>
                            <td>@item.GetProperty("title")</td>
                            <td><img src=@($"{url}/images/{item.GetProperty("imageURL")}") alt="Recipe Image" class="img-thumbnail" style="width:50px;height:50px" /></td>
                            <td>@DateTime.Parse(item.GetProperty("createdAt").GetString()).ToString("dd/MM/yyyy")</td>
                            <td>@DateTime.Parse(item.GetProperty("updatedAt").GetString()).ToString("dd/MM/yyyy")</td>
                            <td>@item.GetProperty("fullname")</td>
                            <td>@item.GetProperty("categoryName")</td>
                            <td>@item.GetProperty("isActive").GetBoolean()</td>

                            <td>
                                <a asp-action="Detail" asp-route-id="@item.GetProperty("recipeID")" class="btn btn-info btn-sm">Detail</a>
                                <a asp-action="Edit" asp-route-id="@item.GetProperty("recipeID")" class="btn btn-warning btn-sm">Edit</a>
                                <a asp-action="Delete" asp-route-id="@item.GetProperty("recipeID")" class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <!-- Pagination -->
    <form method="get" class="d-flex justify-content-between align-items-center mt-3">
        <!-- Select box for page size -->
        <div>
            <select name="pageSize" class="form-select form-select-sm" style="width: 70px;" onchange="this.form.submit()">
                @for (int i = 2; i <= 20; i += 2)
                {
                    if (Model.PageSize == i)
                    {
                        <option value="@i" selected>@i</option>
                    }
                    else
                    {
                        <option value="@i">@i</option>
                    }

                }
            </select>
        </div>

        <!-- Pagination navigation -->
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-sm mb-0">
                <!-- Nút Previous (ẩn nếu đang ở trang đầu tiên) -->
                <li class="page-item @(Model.Page == 1 ? "disabled" : "")">
                    <a class="page-link" asp-route-pageSize="@Model.PageSize" asp-route-currentPage="@(Model.Page - 1)">Previous</a>
                </li>

                <!-- Tạo danh sách các trang -->
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.Page ? "active" : "")">
                        <a class="page-link" asp-route-pageSize="@Model.PageSize" asp-route-currentPage="@i">@i</a>
                    </li>
                }

                <!-- Nút Next (ẩn nếu đang ở trang cuối) -->
                <li class="page-item @(Model.Page == Model.TotalPages ? "disabled" : "")">
                    <a class="page-link" asp-route-pageSize="@Model.PageSize" asp-route-currentPage="@(Model.Page + 1)">Next</a>
                </li>
            </ul>
        </nav>
    </form>
</div>

<style>
    body {
        background-color: #f5f9ff;
    }

    h2 {
        color: #2c3e50;
    }

    .table-bordered th, .table-bordered td {
        vertical-align: middle;
    }
</style>
